
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:ital,wght@1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&family=Pacifico&family=Source+Sans+Pro&display=swap');

@font-face {
    font-family: "Booter - Zero Zero";
    src: url()  ;  /* fonts that i dont have */
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: #264143;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #eddcd9;
}



.nav ul {
    margin:0;
    padding:0;
}
.nav li {
    display: inline;
}
.main-nav {

    text-align: center;
    font-size: 2em;
    font-weight: lighter;
    border-bottom: 1px solid #264143;

}
.main-nav li {
    padding: 0 5%;
    
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: #264143;
    text-decoration: none;
}
.nav a:hover {
    background-color: rgba(114, 111, 111, 0.3);
}
.main-header {
    background-color: #f2ebe9;
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
    font-size: 0.5em;
    border-bottom: 1px solid #264143;
}
.band-name {
    text-align: center;
    margin:0;
    font-size: 4em;
    font-family: 'Oswald';
    font-weight: normal;
    color: #264143;

}
.band-name-large {
    font-size: 9em;
}
.content-section {
    margin: 1em;

}
.container {
    max-width: 900px;
    margin: 0 auto; /* text always in centre */
    padding: 0 1.5em;

}
.section-header {
    font-family: ""; /* must import if want to use cool fonts */ 
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%; /* makes image a circle */
}
.main-footer {
    background-color: #264143;
    color: white;
    padding: .25em 0;
     /* first number is top and bottom second is left and right */

}
.main-footer-container {
    display: flex;
    align-items: center;
}
.main-footer-container ul {
    flex-grow: 1;
    text-align: end;

}
.footer-nav li {
    padding: 0 .5em;
}
.footer-nav img {
    width: 30px;
    height: 30px;
}
.Links {
    font-size: 2em;
    text-align: left;
    /*font-family:*/ 
    color: #f2ebe9;
    font-weight: lighter;
}
/* background-color: rgba(0, 0, 0, 0);
    background-image: url(images/ds2.jpg);
    */